[Unit]
Description=PiQR door access
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/java -jar /root/piqr-0.0.1-all.jar --config /root/piqr.properties

Restart=on-abnormal

# If the application fails 3 times in 30 seconds, something has gone wrong,
# and the state of the hardware can't be guaranteed. Reboot the system here.
StartLimitBurst=3
StartLimitIntervalSec=30
StartLimitAction=reboot

# StartLimitAction=reboot will reboot the box if the app fails repeatedly,
# but if the app exits voluntarily, the reboot should trigger immediately
FailureAction=reboot

[Install]
WantedBy=multi-user.target